/* Global styles */
html, * {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  font: 1.8rem/1.56 'Source Sans Pro', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

fieldset {
  border: 0;
  padding-left: 0;
}

/* App styles */
.App {
  padding: 3rem 10rem;
  color: #432966;
}

.App-body {
  max-width: 96rem;
  display: flex;
  justify-content: space-between;
}

#calculate-button {
  cursor: pointer;
}

/* Table styles */
table {
  text-align: right;
  border-spacing: 0;
  font-size: 1.6rem;
}

.table-heading {
  background: #b3ffff;
}

.highlighted-row {
  background: #e6ffff;
}

.highlighted-row :first-child,
.highlighted-row :nth-child(3) {
  font-weight: 800;
}

.highlighted-col {
  background: #ccffff;
}

td {
  border-bottom: 1px solid #e6ffff;
}

th, td {
  padding: 0.2rem 1.7rem;
}
